<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Blog</title>
</head>
<body>
    <div class="grid">
        <header class="topbar">
            <nav class="navbar">
                <div class="nav-link">
                    <a href="" class="navbar-title">Hermès</a>
                    <a href="index.php">Acceuil</a>
                    <a href="">Articles</a>
                </div>
                <a href="" class="logout">Se déconnecter</a>
            </nav>
        </header>
        <div class="banner">
            <h1 class="banner-title">Bienvenue sur mon blog</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error dolorem, nostrum veritatis vero impedit facere voluptatem perferendis tenetur ut itaque molestias animi optio natus, corporis quaerat temporibus. Tempore, commodi quas?</p>
        </div>
        <main class="main">
            <h1 class="main-title">Les derniers articles</h1>
            <div class="main-flex">
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="pexels-min-che-7491915.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title"><a href="">cofee make you a better developper?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto magni exercitationem...</p>
                        <div class="card-footer">
                            <a href="show.php">Voir plus</a>
                            <small>Publié le 29/06/2023 à 17:53</small>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="sidebar">
            <h2 clas="sidebar-title">Catégories</h2>
            <div class="sidebar-content">
                <ul>
                    <li class="active"><a href="">Seinen</a></li>
                    <li><a href="">Shonen</a></li>
                    <li><a href="">Thriller</a></li>
                    <li><a href="">School life</a></li>
                </ul>
            </div>
        </aside>
        <footer class="footer">
            <right class="droite">
                <h1 class="footer_title_principal">Hermès</h1>
                <div class="push">
                    <p>Suivez-nous</p>
                    <div class="social">
                        <a href=""><img src="insta.jpg" alt="" height="30" width="30" class="insta"></a>
                        <a href=""><img src="facebook.png" alt="" height="30" width="30" class="face"></a>
                    </div>
                </div>
            </right>
            <main class="main_footer">
                <h2 class="footer-title">Nos Produits</h2>
                <a href="">Glaces</a>
                <a href="">Pâtisseries</a>
                <a href="">Smoothies</a>
                <a href="">Milkshake</a>
                <a href="">Confiseries</a>
            </main>
            <left class="left">
                <h2 class="footer-title">Notre Société</h2>
                <a href="">Nos boutiques</a>
                <a href="">Contactez-nous</a>
                <a href="">La maison</a>
            </left>
        </footer>
    </div>
</body>
</html>